src/main/resources/api/institutionalorg.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="IInstitutionalOrganWSInterface" targetNamespace="http://www.mof.gov.il/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.mof.gov.il/" xmlns:tns5="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InstitutionalOrgan.WS.ISAAgentsObjects" xmlns:tns="http://schemas.datacontract.org/2004/07/InstitutionalOrgan.WS.ISAAgentsObjects">
			<xsd:complexType name="ISAAgentsReport">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="AgentsLic" nillable="true" type="tns:ArrayOfAgentsLicInfo"/>
					<xsd:element minOccurs="0" name="CompanyLic" nillable="true" type="tns:ArrayOfCompaniesLicInfo"/>
					<xsd:element minOccurs="0" name="FileNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProcessLic" nillable="true" type="tns:ArrayOfProcessLicInfo"/>
					<xsd:element minOccurs="0" name="ResponseCode" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ISAAgentsReport" nillable="true" type="tns:ISAAgentsReport"/>
			<xsd:complexType name="ArrayOfAgentsLicInfo">
				<xsd:sequence>
					<xsd:element maxOccurs="20000" minOccurs="0" name="AgentsLicInfo" nillable="true" type="tns:AgentsLicInfo"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfAgentsLicInfo" nillable="true" type="tns:ArrayOfAgentsLicInfo"/>
			<xsd:complexType name="AgentsLicInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="FamilyName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="FirstName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="9"/>
								<xsd:pattern value="$|[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="LicenseStatus" type="xsd:int"/>
					<xsd:element minOccurs="0" name="LicenseType" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AgentsLicInfo" nillable="true" type="tns:AgentsLicInfo"/>
			<xsd:complexType name="ArrayOfCompaniesLicInfo">
				<xsd:sequence>
					<xsd:element maxOccurs="10000" minOccurs="0" name="CompaniesLicInfo" nillable="true" type="tns:CompaniesLicInfo"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfCompaniesLicInfo" nillable="true" type="tns:ArrayOfCompaniesLicInfo"/>
			<xsd:complexType name="CompaniesLicInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="CompanyName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="9"/>
								<xsd:pattern value="$|[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="LicenseStatus" type="xsd:int"/>
					<xsd:element minOccurs="0" name="LicenseType" nillable="true" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="CompaniesLicInfo" nillable="true" type="tns:CompaniesLicInfo"/>
			<xsd:complexType name="ArrayOfProcessLicInfo">
				<xsd:sequence>
					<xsd:element maxOccurs="30000" minOccurs="0" name="ProcessLicInfo" nillable="true" type="tns:ProcessLicInfo"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfProcessLicInfo" nillable="true" type="tns:ArrayOfProcessLicInfo"/>
			<xsd:complexType name="ProcessLicInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="FamilyName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="FirstName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="12"/>
								<xsd:pattern value="$|[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="Step" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ProcessLicInfo" nillable="true" type="tns:ProcessLicInfo"/>
			<xsd:complexType name="ISAAgentsUpdate">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ISACompanies" nillable="true" type="tns:ArrayOfISACompaniesInfo"/>
					<xsd:element minOccurs="0" name="ISAIndividuals" nillable="true" type="tns:ArrayOfISAIndividualsInfo"/>
					<xsd:element minOccurs="0" name="ISAProcess" nillable="true" type="tns:ArrayOfISAProcessInfo"/>
					<xsd:element minOccurs="0" name="ResponseCode" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ISAAgentsUpdate" nillable="true" type="tns:ISAAgentsUpdate"/>
			<xsd:complexType name="ArrayOfISACompaniesInfo">
				<xsd:sequence>
					<xsd:element maxOccurs="15000" minOccurs="0" name="ISACompaniesInfo" nillable="true" type="tns:ISACompaniesInfo"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfISACompaniesInfo" nillable="true" type="tns:ArrayOfISACompaniesInfo"/>
			<xsd:complexType name="ISACompaniesInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="CompanyName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="LicenseEndDate" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="LicenseStartDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="LicenseStatus" type="xsd:int"/>
					<xsd:element minOccurs="0" name="LicenseType" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ISACompaniesInfo" nillable="true" type="tns:ISACompaniesInfo"/>
			<xsd:complexType name="ArrayOfISAIndividualsInfo">
				<xsd:sequence>
					<xsd:element maxOccurs="15000" minOccurs="0" name="ISAIndividualsInfo" nillable="true" type="tns:ISAIndividualsInfo"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfISAIndividualsInfo" nillable="true" type="tns:ArrayOfISAIndividualsInfo"/>
			<xsd:complexType name="ISAIndividualsInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="FamilyName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="FirstName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDType" type="xsd:int"/>
					<xsd:element minOccurs="0" name="LicenseEndDate" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="LicenseStartDate" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="LicenseStatus" type="xsd:int"/>
					<xsd:element minOccurs="0" name="LicenseType" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ISAIndividualsInfo" nillable="true" type="tns:ISAIndividualsInfo"/>
			<xsd:complexType name="ArrayOfISAProcessInfo">
				<xsd:sequence>
					<xsd:element maxOccurs="15000" minOccurs="0" name="ISAProcessInfo" nillable="true" type="tns:ISAProcessInfo"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfISAProcessInfo" nillable="true" type="tns:ArrayOfISAProcessInfo"/>
			<xsd:complexType name="ISAProcessInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ExamStatus" type="xsd:int"/>
					<xsd:element minOccurs="0" name="ExamType" type="xsd:int"/>
					<xsd:element minOccurs="0" name="FamilyName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="FirstName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDType" type="xsd:int"/>
					<xsd:element minOccurs="0" name="examDate" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ISAProcessInfo" nillable="true" type="tns:ISAProcessInfo"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InstitutionalOrgan.WS.ISAAccountsObjects" xmlns:tns="http://schemas.datacontract.org/2004/07/InstitutionalOrgan.WS.ISAAccountsObjects">
			<xsd:complexType name="ISAReport">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="GemelData" nillable="true" type="tns:ArrayOfPension"/>
					<xsd:element minOccurs="0" name="InsuranceData" nillable="true" type="tns:ArrayOfInsurance"/>
					<xsd:element minOccurs="0" name="PensionData" nillable="true" type="tns:ArrayOfPension"/>
					<xsd:element minOccurs="0" name="RCode" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ISAReport" nillable="true" type="tns:ISAReport"/>
			<xsd:complexType name="ArrayOfPension">
				<xsd:sequence>
					<xsd:element maxOccurs="1500" minOccurs="0" name="Pension" nillable="true" type="tns:Pension"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfPension" nillable="true" type="tns:ArrayOfPension"/>
			<xsd:complexType name="Pension">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ClosedStatusDate" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="ControllingInterestDetails" nillable="true" type="tns:ArrayOfControllingInterestDetails"/>
					<xsd:element minOccurs="0" name="DateData" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="EncodedBankAccountNumberDetails" nillable="true" type="tns:ArrayOfEncodedBankAccountNumberDetails"/>
					<xsd:element minOccurs="0" name="LastReportingDate" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="LicenseStatus" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="LicenseStatusDescription" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="LicenseType" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="LicenseTypeDescription" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ManagerCompanyIDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="12"/>
								<xsd:pattern value="$|[0-9]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ManagerCompanyName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="200"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PFundIDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="PFundName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="200"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ReportingIndication" type="xsd:int"/>
					<xsd:element minOccurs="0" name="ReportingIndicationDescription" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Pension" nillable="true" type="tns:Pension"/>
			<xsd:complexType name="ArrayOfControllingInterestDetails">
				<xsd:sequence>
					<xsd:element maxOccurs="5000" minOccurs="0" name="ControllingInterestDetails" nillable="true" type="tns:ControllingInterestDetails"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfControllingInterestDetails" nillable="true" type="tns:ArrayOfControllingInterestDetails"/>
			<xsd:complexType name="ControllingInterestDetails">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ControllingInterestIDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ControllingInterestName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="200"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ControllingInterestType" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="ControllingInterestTypeDescription" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IDNumberType" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="IDNumberTypeDescription" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ControllingInterestDetails" nillable="true" type="tns:ControllingInterestDetails"/>
			<xsd:complexType name="ArrayOfEncodedBankAccountNumberDetails">
				<xsd:sequence>
					<xsd:element maxOccurs="5000" minOccurs="0" name="EncodedBankAccountNumberDetails" nillable="true" type="tns:EncodedBankAccountNumberDetails"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfEncodedBankAccountNumberDetails" nillable="true" type="tns:ArrayOfEncodedBankAccountNumberDetails"/>
			<xsd:complexType name="EncodedBankAccountNumberDetails">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="EncodedBankAccountNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="TASEMemberIDNumber" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="EncodedBankAccountNumberDetails" nillable="true" type="tns:EncodedBankAccountNumberDetails"/>
			<xsd:complexType name="ArrayOfInsurance">
				<xsd:sequence>
					<xsd:element maxOccurs="100" minOccurs="0" name="Insurance" nillable="true" type="tns:Insurance"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfInsurance" nillable="true" type="tns:ArrayOfInsurance"/>
			<xsd:complexType name="Insurance">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="DateData" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="InsuranceCompanyCategoryDetails" nillable="true" type="tns:ArrayOfInsuranceCompanyCategoryDetails"/>
					<xsd:element minOccurs="0" name="InsuranceCompanyIDNumber" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="InsuranceCompanyName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="200"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="LastReportingDate" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="LicenseType" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="LicenseTypeDescription" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ReportingIndication" type="xsd:int"/>
					<xsd:element minOccurs="0" name="ReportingIndicationDescription" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Insurance" nillable="true" type="tns:Insurance"/>
			<xsd:complexType name="ArrayOfInsuranceCompanyCategoryDetails">
				<xsd:sequence>
					<xsd:element maxOccurs="5000" minOccurs="0" name="InsuranceCompanyCategoryDetails" nillable="true" type="tns:InsuranceCompanyCategoryDetails"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ArrayOfInsuranceCompanyCategoryDetails" nillable="true" type="tns:ArrayOfInsuranceCompanyCategoryDetails"/>
			<xsd:complexType name="InsuranceCompanyCategoryDetails">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="CategoryLicenseStatus" nillable="true" type="xsd:int"/>
					<xsd:element minOccurs="0" name="CategoryLicenseStatusDescription" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ClosedStatusDate" nillable="true" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="EncodedBankAccountNumberDetails" nillable="true" type="tns:ArrayOfEncodedBankAccountNumberDetails"/>
					<xsd:element minOccurs="0" name="InsuranceCompanyCategoryName" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="200"/>
								<xsd:pattern value="$|[א-תA-Z a-z 0-9\s_\-&quot;',\.)(]*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="InsuranceCompanyCategoryNumber" nillable="true" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="InsuranceCompanyCategoryDetails" nillable="true" type="tns:InsuranceCompanyCategoryDetails"/>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/">
			<xsd:element name="boolean" nillable="true" type="xsd:boolean"/>
			<xsd:element name="byte" nillable="true" type="xsd:byte"/>
			<xsd:element name="dateTime" nillable="true" type="xsd:dateTime"/>
			<xsd:element name="decimal" nillable="true" type="xsd:decimal"/>
			<xsd:element name="double" nillable="true" type="xsd:double"/>
			<xsd:element name="float" nillable="true" type="xsd:float"/>
			<xsd:element name="int" nillable="true" type="xsd:int"/>
			<xsd:element name="long" nillable="true" type="xsd:long"/>
			<xsd:element name="QName" nillable="true" type="xsd:QName"/>
			<xsd:element name="short" nillable="true" type="xsd:short"/>
			<xsd:element name="unsignedByte" nillable="true" type="xsd:unsignedByte"/>
			<xsd:element name="unsignedInt" nillable="true" type="xsd:unsignedInt"/>
			<xsd:element name="unsignedLong" nillable="true" type="xsd:unsignedLong"/>
			<xsd:element name="unsignedShort" nillable="true" type="xsd:unsignedShort"/>
			<xsd:element name="char" nillable="true" type="tns:char"/>
			<xsd:simpleType name="char">
				<xsd:restriction base="xsd:int"/>
			</xsd:simpleType>
			<xsd:element name="duration" nillable="true" type="tns:duration"/>
			<xsd:simpleType name="duration">
				<xsd:restriction base="xsd:duration">
					<xsd:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?"/>
					<xsd:minInclusive value="-P10675199DT2H48M5.4775808S"/>
					<xsd:maxInclusive value="P10675199DT2H48M5.4775807S"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="guid" nillable="true" type="tns:guid"/>
			<xsd:simpleType name="guid">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:attribute name="FactoryType" type="xsd:QName"/>
			<xsd:attribute name="Id" type="xsd:ID"/>
			<xsd:attribute name="Ref" type="xsd:IDREF"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.mof.gov.il/" xmlns:tns="http://schemas.datacontract.org/2004/07/InstitutionalOrgan.WS.ISAAgentsObjects" xmlns:tns0="http://schemas.datacontract.org/2004/07/InstitutionalOrgan.WS.ISAAccountsObjects" xmlns:tns1="http://www.mof.gov.il/">
			<xsd:import namespace="http://schemas.datacontract.org/2004/07/InstitutionalOrgan.WS.ISAAgentsObjects"/>
			<xsd:import namespace="http://schemas.datacontract.org/2004/07/InstitutionalOrgan.WS.ISAAccountsObjects"/>
			<xsd:element name="GetTaseInfo32">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="DataForMonth" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTaseInfo32Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="GetTaseInfo32Result" nillable="true" type="tns0:ISAReport"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTaseInfoUpdate32">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="FilingFrom" type="xsd:dateTime"/>
						<xsd:element minOccurs="0" name="FilingUntil" type="xsd:dateTime"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetTaseInfoUpdate32Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="GetTaseInfoUpdate32Result" nillable="true" type="tns0:ISAReport"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAgentsData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="recordType" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAgentsDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="GetAgentsDataResult" nillable="true" type="tns:ISAAgentsReport"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SetAgentsData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="ISAData" nillable="true" type="tns:ISAAgentsUpdate"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SetAgentsDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="SetAgentsDataResult" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IInstitutionalOrganWSInterface_GetTaseInfo32_InputMessage">
		<wsdl:part element="tns:GetTaseInfo32" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="IInstitutionalOrganWSInterface_GetTaseInfoUpdate32_OutputMessage">
		<wsdl:part element="tns:GetTaseInfoUpdate32Response" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="IInstitutionalOrganWSInterface_SetAgentsData_InputMessage">
		<wsdl:part element="tns:SetAgentsData" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="IInstitutionalOrganWSInterface_GetTaseInfo32_OutputMessage">
		<wsdl:part element="tns:GetTaseInfo32Response" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="IInstitutionalOrganWSInterface_GetTaseInfoUpdate32_InputMessage">
		<wsdl:part element="tns:GetTaseInfoUpdate32" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="IInstitutionalOrganWSInterface_GetAgentsData_InputMessage">
		<wsdl:part element="tns:GetAgentsData" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="IInstitutionalOrganWSInterface_SetAgentsData_OutputMessage">
		<wsdl:part element="tns:SetAgentsDataResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="IInstitutionalOrganWSInterface_GetAgentsData_OutputMessage">
		<wsdl:part element="tns:GetAgentsDataResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IInstitutionalOrganWSInterface">
		<wsdl:operation name="GetTaseInfo32">
			<wsdl:input message="tns:IInstitutionalOrganWSInterface_GetTaseInfo32_InputMessage" tns5:Action="http://www.mof.gov.il/IInstitutionalOrganWSInterface/GetTaseInfo32">
			</wsdl:input>
			<wsdl:output message="tns:IInstitutionalOrganWSInterface_GetTaseInfo32_OutputMessage" tns5:Action="http://www.mof.gov.il/IInstitutionalOrganWSInterface/GetTaseInfo32Response">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTaseInfoUpdate32">
			<wsdl:input message="tns:IInstitutionalOrganWSInterface_GetTaseInfoUpdate32_InputMessage" tns5:Action="http://www.mof.gov.il/IInstitutionalOrganWSInterface/GetTaseInfoUpdate32">
			</wsdl:input>
			<wsdl:output message="tns:IInstitutionalOrganWSInterface_GetTaseInfoUpdate32_OutputMessage" tns5:Action="http://www.mof.gov.il/IInstitutionalOrganWSInterface/GetTaseInfoUpdate32Response">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAgentsData">
			<wsdl:input message="tns:IInstitutionalOrganWSInterface_GetAgentsData_InputMessage" tns5:Action="http://www.mof.gov.il/IInstitutionalOrganWSInterface/GetAgentsData">
			</wsdl:input>
			<wsdl:output message="tns:IInstitutionalOrganWSInterface_GetAgentsData_OutputMessage" tns5:Action="http://www.mof.gov.il/IInstitutionalOrganWSInterface/GetAgentsDataResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetAgentsData">
			<wsdl:input message="tns:IInstitutionalOrganWSInterface_SetAgentsData_InputMessage" tns5:Action="http://www.mof.gov.il/IInstitutionalOrganWSInterface/SetAgentsData">
			</wsdl:input>
			<wsdl:output message="tns:IInstitutionalOrganWSInterface_SetAgentsData_OutputMessage" tns5:Action="http://www.mof.gov.il/IInstitutionalOrganWSInterface/SetAgentsDataResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
            xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
            xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
            wsu:Id="WS-Policy-SecurityAddressing">
	  <sp:TransportBinding>
		<wsp:Policy>
		  <sp:TransportToken>
			<wsp:Policy>
			  <sp:HttpsToken RequireClientCertificate="false"/>
			</wsp:Policy>
		  </sp:TransportToken>
		  <sp:AlgorithmSuite>
			<wsp:Policy>
			  <sp:Basic256/>
			</wsp:Policy>
		  </sp:AlgorithmSuite>
		  <sp:Layout>
			<wsp:Policy>
			  <sp:Strict/>
			</wsp:Policy>
		  </sp:Layout>
		  <sp:IncludeTimestamp/>
		</wsp:Policy>
	  </sp:TransportBinding>
	  <sp:SignedSupportingTokens>
		<wsp:Policy>
		  <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
			<wsp:Policy>
			  <sp:RequireThumbprintReference/>
			</wsp:Policy>
		  </sp:X509Token>
		</wsp:Policy>
	  </sp:SignedSupportingTokens>
	</wsp:Policy>

	<wsdl:binding name="SOAPServiceBinding" type="tns:IInstitutionalOrganWSInterface">
		<wsp:PolicyReference URI="#WS-Policy-SecurityAddressing"/>

		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetTaseInfo32">
			<soap12:operation soapAction="GetTaseInfo32" style="document"/>
			<wsdl:input>
				<soap12:body parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTaseInfoUpdate32">
			<soap12:operation soapAction="GetTaseInfoUpdate32" style="document"/>
			<wsdl:input>
				<soap12:body parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAgentsData">
			<soap12:operation soapAction="GetAgentsData" style="document"/>
			<wsdl:input>
				<soap12:body parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetAgentsData">
			<soap12:operation soapAction="SetAgentsData" style="document"/>
			<wsdl:input>
				<soap12:body parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IInstitutionalOrganWSInterface">
		<wsdl:port binding="tns:SOAPServiceBinding" name="IInstitutionalOrganWSInterfacePort">
			<soap12:address location="http://localhost:9080/ISAMofInterface/IInstitutionalOrganWSInterface"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>